* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --nav-background: dodgerblue;
    --white20 : rgb(230, 230, 230);
}

main {
    display: grid;
    grid-template: minmax(220px, 1fr) 5fr / minmax(max-content, 1fr) 5fr;
    height: 100dvh;
}

/* NAV */

nav {
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--nav-background);
    display: grid;
    grid-template-rows: max-content max-content max-content;
    color: white;
    gap: 5rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
}

.page-title {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
}

.page-title>h1 {
    font-size: 2.5rem;
}

.nav-buttons {
    display: grid;
    width: 100%;
    gap: 10px;
    background-color: var(--nav-background);
}

.nav-buttons>button {
    border: none;
    padding-left: 2rem;
    text-align: start;
    width: 100%;
    background-color: var(--nav-background);
    color: var(--white20);
    font-size: 1.5rem;
    font-weight: bold;
    height: 2.5rem;
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 1rem;
}

.nav-buttons>button:hover,
.action-buttons>button:hover {
    color: white;
    cursor: pointer;
}

.nav-icon {
    height: 1.7rem;
    filter: brightness(0) saturate(100%) invert(76%) sepia(95%) saturate(1%) hue-rotate(354deg) brightness(98%) contrast(103%);
}

.nav-buttons>button:hover .nav-icon,
.action-buttons>button:hover .nav-icon {
    filter: brightness(0) saturate(100%) invert(90%) sepia(33%) saturate(0%) hue-rotate(185deg) brightness(111%) contrast(101%);
}

/* HEADER */

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 3rem;
    gap: 2rem;
}

.top-bar {
    display: grid;
    grid-template-columns: 2rem minmax(300px, 3fr) 100px minmax(200px, 2fr);
    grid-column: span 5;
    align-items: center;
    gap: 1rem
}

.top-bar-info {
    grid-column: -2 / -1;
    justify-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: 2rem 4rem 1fr;
    gap: 3rem;
}

input[type="search"] {
    border: none;
    background-color: var(--white20);
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding-left: 1rem;
}

.action-bar {
    display: grid;
    grid-template-columns: 5rem 1fr 1fr;
    grid-column: span 5;
    gap: 2rem;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 100px));
    gap: 2rem;
    justify-content: end;
    align-items: center;
}

.user-title {
    align-self: center;
}

.action-buttons>button {
    background-color: var(--nav-background);
    color: var(--white20);
    border: none;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    height: 3rem;
}

.profile-picture {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    align-self: center;
}

.action-bar>.profile-picture {
    height: 5rem;
    width: 5rem;
}

/* CONTENT */
.content {
    display: grid;
    grid-template-columns: 2.5fr minmax(300px, 1fr);
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0px 5px 10px lightgray;
    gap: 2rem;
    padding-top: 2rem;
}

.main-content {
    display: grid;
    grid-template-rows: 3rem minmax(300px, 1fr);
    align-items: center;
    padding-left: 2rem;
}

.main-content>h2,
.announcements>h2,
.trending>h2,
.a-card>h3 {
    font-weight: 500;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    align-self: start;
}

.card {
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 1fr 1fr;
}

.card-text {
    display: grid;
    align-items: center;
    padding: 2rem;
    gap: 5px;
}

.card-text>h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

.card-text>p {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.orange-bar {
    background-color: rgb(237, 190, 0);
    height: 100%;
    width: 10px;
    grid-row: span 2;
}

.side-content {
    padding-right: 2rem;
    display: grid;
    grid-template-rows: 420px;
    gap: 3rem;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: 3rem 400px;
    align-items: center;
    max-width: 500px;
}

.trending>div,
.announcements>div {
    background-color: white;
    align-self: start;
    height: 100%;
    border-radius: 10px;
}

.announcements>div {
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    grid-template-columns: 1fr;
    padding: 1.5rem;
}

.a-card {
    align-self: center;
}

.separator {
    width: 100%;
    background-color: rgba(170, 170, 170, 0.5);
}

.trending>div {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    padding: 1.5rem;
}

.card,
.announcements>div,
.trending>div {
    box-shadow: 0px 0px 5px gray;
}