* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --nav-background: dodgerblue;
    --white20 : rgb(230, 230, 230);
}

main {
    display: grid;
    grid-template: minmax(200px, 1fr) 5fr / minmax(max-content, 1fr) 5fr;
    height: 100dvh;
}

nav {
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--nav-background);
    display: grid;
    grid-template-rows: max-content max-content max-content;
    color: white;
    gap: 5rem;
    padding-top: 20%;
    padding-right: 2rem;
}

.page-title>h1 {
    font-size: 2rem;
    padding-left: 2rem;
}

.nav-buttons {
    display: grid;
    width: 100%;
    gap: 10px;
    background-color: var(--nav-background);
}

.nav-buttons>button {
    border: none;
    padding-left: 2rem;
    text-align: start;
    width: 100%;
    background-color: var(--nav-background);
    color: var(--white20);
    font-size: 1.5rem;
    font-weight: bold;
    height: 2.5rem;
}

.nav-buttons>button:hover {
    color: white;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0px 5px 10px lightgray;
}